<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header y HeaderLogueado-->
	<% if(locals.user) { %>
		<%- include('./partials/HeaderLogueado') %> 

	<% } else { %>
		<%- include('./partials/header') %> 
	<% } %>
	
	<!-- /Header y HeaderLogueado -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12 color-fondo">
				<h2 class="products-title">NOVEDADES</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% for (let i = 0; i < productosNovedad.length; i++) { %>
					
				<div class="col-12 col-sm-6 col-lg-3">	
					<section class="product-box">
						<a href="/products/detail/<%= productosNovedad[i].id %> ">
							<figure class="product-box_image">
								<img src="<%= productosNovedad[i].imagen %>">
							</figure>
							<article class="product-box_data">
								<h2><%= productosNovedad[i].nombre %> </h2>
								<h2> Cargado por: <%= productosNovedad[i].user.nombre_y_apellido %> </h2>
								<p><%= productosNovedad[i].descripcion %> </p>
								<!-- <p>Comentarios: 12</p> -->
							</article>
						</a>
					</section>
				</div>
			<% } %> 
			
			
		</div>
	</div>
	<!-- /Novedades -->
	


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>	
</html>