<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12 color-fondo">
				<h2 class="products-title">NOVEDADES</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<% for (let i = 0; i < productDescription.length; i++) { %>
				<% const product = productDescription[i]; %>	
				<% if (product.categoría == 'novedad') { %> 
					<div class="col-12 col-sm-6 col-lg-3">	
						<section class="product-box">
							<a href="/products/detail/<%= product.id %> ">
								<figure class="product-box_image">
									<img src="<%= product.imagen %>">
								</figure>
								<article class="product-box_data">
									<h2><%= product.nombre %> </h2>
									<p><%= product.descripción %> </p>
									<p>Comentarios: 12</p>
								</article>
							</a>
						</section>
					</div>
				<% } %> 
			
			<% } %> 
			
			
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12 color-fondo">
				<h2 class="products-title">MÁS COMENTADOS</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% for (let i = 0; i < productDescription.length; i++) { %>
				<% const product = productDescription[i]; %>
				
				<% if(product.categoría == 'comentado') { %> 
					<div class="col-12 col-sm-6 col-lg-3">	
						<section class="product-box">
							<a href="/products/detail/<%= product.id %>">
								<figure class="product-box_image">
									<img src="<%= product.imagen %>">
								</figure>
								<article class="product-box_data">
									<h2><%= product.nombre %> </h2>
									<p><%= product.descripción %> </p>
									<p>Comentarios: 12</p>
								</article>
							</a>
						</section>
					</div>
				<% } %> 
			
			<% } %>
			
			<!-- <div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/flip_4_negro.jpeg" alt="jbl flip 4">
						</figure>
						<article class="product-box_data">
							<h2>JBL Flip 4</h2>
							<p>Disfrutar de un amplio espectro de sonidos tanto en la reproducción de voces como de notas musicales es posible con JBL. Dejate asombrar con su excelente desempeño sonoro en películas, series y en tus playlists favoritas.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/iphone-xs.jpeg" alt="iphone xs">
						</figure>
						<article class="product-box_data">
							<h2>IPhone XS</h2>
							<p>El sistema operativo iOS 12 te ofrece el doble de velocidad que la versión anterior para abrir las apps.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/auriculares.jpeg" alt="samsung galaxy buds live">
						</figure>
						<article class="product-box_data">
							<h2>Samsung Galaxy Buds Live</h2>
							<p>Con los auriculares Samsung Buds Live, disfrutar de tu música preferida como si la escucharas en vivo es posible. Esto se da gracias a su conectividad bluetooth, la cual permite una alta tasa de transferencia de datos.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/camara.jpeg" alt="canon EOS rebel T100">
						</figure>
						<article class="product-box_data">
							<h2>Canon EOS Rebel T100</h2>
							<p>La marca japonesa Canon combina calidad y rendimiento en sus productos. No importa si recién comenzás en el mundo de la fotografía o si querés mejorar tu equipo, Canon hará que te enamores de la fotografía.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div> -->
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>	
</html>