<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">NOVEDADES</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<% for (let i = 0; i < productDescription.length; i++) { %>
				<% const product = productDescription[i]; %>	
				<% if (product.categoría == 'novedad') { %> 
					<div class="col-12 col-sm-6 col-lg-3">	
						<section class="product-box">
							<a href="/products/detail/<%= product.id %> ">
								<figure class="product-box_image">
									<img src="<%= product.imagen %>">
								</figure>
								<article class="product-box_data">
									<h2><%= product.nombre %> </h2>
									<p><%= product.descripción %> </p>
									<p>Comentarios: 12</p>
								</article>
							</a>
						</section>
					</div>
				<% } %> 
			
			<% } %> 
			
			<!-- <div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
						</figure>
						<article class="product-box_data">
							<h2>MacBook Pro 2019</h2>
							<p>La MacBook Pro es la notebook más poderosa de Apple, creada para quienes se proponen nuevos desafíos y logran cosas imposibles. Tiene una pantalla envolvente, procesadores superrápidos, gráficos de última generación, un nuevo teclado Magic Keyboard y un increíble espacio de almacenamiento.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
						</figure>
						<article class="product-box_data">
							<h2>Samsung Galaxy S10</h2>
							<p>El Samsung S10 cuenta con el sistema operativo avanzado Android 9.0 Pie que aprende tus hábitos para adaptarse a tu rutina y lograr la máxima eficiencia de tu equipo.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/img-tv-samsung-smart.jpg" alt="smart tv samsung">
						</figure>
						<article class="product-box_data">
							<h2>Smart TV Samsung</h2>
							<p>Con el Smart TV UN50TU7000 vas a acceder a las aplicaciones en las que se encuentran tus contenidos favoritos. Además, podés navegar por Internet, interactuar en redes sociales y divertirte con videojuegos.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div> -->
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">MÁS COMENTADOS</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% for (let i = 0; i < productDescription.length; i++) { %>
				<% const product = productDescription[i]; %>
				
				<% if(product.categoría == 'comentado') { %> 
					<div class="col-12 col-sm-6 col-lg-3">	
						<section class="product-box">
							<a href="/products/detail/<%= product.id %>">
								<figure class="product-box_image">
									<img src="<%= product.imagen %>">
								</figure>
								<article class="product-box_data">
									<h2><%= product.nombre %> </h2>
									<p><%= product.descripción %> </p>
									<p>Comentarios: 12</p>
								</article>
							</a>
						</section>
					</div>
				<% } %> 
			
			<% } %>
			
			<!-- <div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/flip_4_negro.jpeg" alt="jbl flip 4">
						</figure>
						<article class="product-box_data">
							<h2>JBL Flip 4</h2>
							<p>Disfrutar de un amplio espectro de sonidos tanto en la reproducción de voces como de notas musicales es posible con JBL. Dejate asombrar con su excelente desempeño sonoro en películas, series y en tus playlists favoritas.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/iphone-xs.jpeg" alt="iphone xs">
						</figure>
						<article class="product-box_data">
							<h2>IPhone XS</h2>
							<p>El sistema operativo iOS 12 te ofrece el doble de velocidad que la versión anterior para abrir las apps.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/auriculares.jpeg" alt="samsung galaxy buds live">
						</figure>
						<article class="product-box_data">
							<h2>Samsung Galaxy Buds Live</h2>
							<p>Con los auriculares Samsung Buds Live, disfrutar de tu música preferida como si la escucharas en vivo es posible. Esto se da gracias a su conectividad bluetooth, la cual permite una alta tasa de transferencia de datos.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products">
						<figure class="product-box_image">
							<img src="/images/products/camara.jpeg" alt="canon EOS rebel T100">
						</figure>
						<article class="product-box_data">
							<h2>Canon EOS Rebel T100</h2>
							<p>La marca japonesa Canon combina calidad y rendimiento en sus productos. No importa si recién comenzás en el mundo de la fotografía o si querés mejorar tu equipo, Canon hará que te enamores de la fotografía.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div> -->
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>	
</html>