<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header y HeaderLogueado-->
	<% if(locals.user) { %>
		<%- include('./partials/HeaderLogueado') %> 

	<% } else { %>
		<%- include('./partials/header') %> 
	<% } %>
	
	<!-- /Header y HeaderLogueado -->
	
	<!-- product detail -->
			
			<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.nombre %> </h2> 
			<!-- <p class="product-detail-description">
				<a class="editar link" href="/products/product-add">Editar</a>
			</p> -->
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= product.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">Precio: $<%= product.precio %></p> 
					<p class="product-detail-description">Descripción del producto: <%= product.descripcion %> </p>
					<p class="product-detail-description">Creado por: <a class="editar link" href="/users/profile/<%= product.user.id %> "><%= product.user.nombre_y_apellido %></a></p>
					<!-- <a class="buy-now-button link" href="/products/destroy">Borrar producto</a> -->
					<% if(locals.user && locals.user.id === product.user.id){ %> 
						<div class="borrar-editar">	
							<form class="borrar" action="/products/destroy" method="POST">
								<input type="hidden" name="producto_id" value="<%= product.id %>">
								<button type="submit" class="buy-now-button link">Borrar</button>
							</form>
							<a class="buy-now-button link" href="/products/update">Editar</a>
						</div>
					<% } %> 	
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<h2 class="comentario-titulo">Comentarios:</h2>
							<% for(let i=0; i< product.comments.length; i++){ %>
							<img src="/images/users/userIcon.png" alt="userIcon">
							<div class="data">
								<p class="user">
								<strong> <a class= "editar link" href="/users/profile/<%= product.comments[i].usuario.id %> "> <%= product.comments[i].usuario.nombre_y_apellido %> </a> </strong>
								<%= product.comments[i].comentario%></p>
							</div>
							<% } %>
						</article>
					</section>
					<% if(locals.user){ %>
					<form class="form" action="/products/comentar" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
						<label for="fechaDeCreacion">Fecha:</label><input type="date" name="fechaDeCreacion">
						<input type="hidden" name="usuario_id" value="<%= locals.user.id %>">
						<input type="hidden" name="producto_id" value="<%= product.id %>">
						<button type="submit" class="buy-now-button link">AGREGAR COMENTARIO</button>
					</form>
					<hr>
					<% } else { %>
						<a class="buy-now-button link" href="/users/login">AGREGAR COMENTARIO</a>
					<% } %> 
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>