<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- product detail -->
			
			<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.nombreDelProducto %> </h2> 
			<p class="product-detail-description">
				<a href="/products/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= product.imagen %> " alt="" class="product-detail-img">
					<p class="product-detail-description"><%= product.descripción %> </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/images/users/userIcon.png" alt="userIcon">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile">Juan Pérez: </a> </strong>
								Es lo que estaba buscando, gran producto. Relación precio-calidad inmejorable. Lo recomiendo.</p>
							</div>
						</article>
						<article>
							<img src="/images/users/userIcon.png" alt="userIcon">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile">José Arribas: </a> </strong>
									Llegó en tiempo y forma. Buen precio. Anda 10 puntos, recomendadisimo!.
								</p>
							</div>
						</article>
						<article>
							<img src="/images/users/useraIcon.png" alt="userIcon">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile">Juana Sanchez: </a> </strong>
									Justo lo que estaba buscando, excelente producto.
								</p>
							</div>
						</article>
						<article>
							<img src="/images/users/userIcon.png" alt="userIcon">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile">Martin Lopez: </a> </strong>
									Sorprendido de lo bien que funciona. MUY recomendable.
								</p>
							</div>
						</article>
						<article>
							<img src="/images/users/useraIcon.png" alt="userIcon">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile">Clara Martinez: </a> </strong>
									Tal cual imaginaba. Funciona a la perfección. Enamorada de este producto.
								</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>